.workspace {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100vh;
}

.workarea {
	width: 100%;
	max-height: 100vh;
}

.workspace > * {
	overflow: auto;
}

.error-dialog {
	position: absolute;
	z-index: 5;
	right: 1rem;
	top: 1rem;
	width: 24rem;
	padding: var(--large-padding);
}
