.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}

.title-bar {
    border-bottom: 1px solid var(--border-color);
    padding: var(--large-padding) var(--xxl-padding);
    background-color: var(--default-background-color);
    position: sticky;
    top: 0;
    z-index: 4;

    & .info {
        display: flex;
        align-content: center;
        gap: 4px;

        & .study-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid var(--border-color);
            font-size: 1rem;
            margin-right: 4px;
            font-weight: 500;

            &:not(:disabled):hover {
                border-color: var(--hover-border-color);
            }
        }
    }

    & .save-button-container {
        display: flex;
        justify-content: end;

        & button {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    & .repetition-counts {
        width: fit-content;
        display: flex;
        font-size: 1.4rem;
        justify-content: space-between;
        gap: 4px;
    }
}

.editor-container {
    background-color: var(--default-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: var(--xl-padding);
    padding-top: var(--xxl-padding);
    width: 100%;

    & .add-button-container {
        padding: var(--default-padding);
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid transparent;
        margin-top: 1rem;

        & .add-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
        }
    }


    .overlay-cell-selector {
        width: 50%;
        max-width: 50rem;
    }
}

.cell {
    padding: var(--medium-padding);
    border-radius: var(--default-border-radius);
	transition: var(--default-transition-time);
    border: 1px solid transparent;
    position: relative;
    width: 100%;

    &:hover {
        border-color: var(--border-color);
        box-shadow: var(--light-box-shadow);
    }

    & .focus-tools {
        position: absolute;
        align-self: center;
        justify-items: center;
        background-color: var(--default-background-color);
        z-index: 2;
        right: 1.2rem;
        top: 0;
        border-radius: var(--default-border-radius);
        box-shadow: var(--dark-box-shadow);
        transform: translateY(-50%);
        display: flex;
        height: 32px;
    }

    & .delete * {
        color: var(--red-color);
    }

    & .drag {
        cursor: grab;
    }

    & .drag:hover {
        background-color: var(--grey-background-color);
    }

    & .insert-cell-popup {
        position: absolute;
        /* The top is based on the (height of hover tools / 2) + 8px */
        top: 24px;
        right: 1.2rem;
        z-index: 3;
    }
}

.cell.selected-cell {
    border-color: var(--primary-color);
    box-shadow: var(--darker-box-shadow);
}

.cell.dragging {
    opacity: 0.7;
}

.cell.drag-over,
.add-button-container.drag-over {
    border-top-color: var(--primary-color);
    box-shadow: 0 -2px 0 var(--primary-color);
    border-radius: 0;
}

.cell-title {
    text-transform: capitalize;
    padding: var(--small-padding) var(--medium-padding);
    border-radius: var(--default-border-radius);
    background-color: var(--primary-color);
    display: inline-flex;
    gap: 4px;
    align-items: center;
    margin-bottom: var(--default-padding);

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    & * {
        color: #fff;
        font-weight: 400;
    }
}

.new-cell-selector {
    display: flex;
    flex-direction: column;
    border-radius: var(--default-border-radius);
    box-shadow: var(--darker-box-shadow);
    padding: var(--large-padding) var(--default-padding);
    background: var(--default-background-color);
    gap: 4px;

    & label {
        text-align: center;
    }

    & button {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
