.box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--large-padding) var(--xxl-padding);
	border-radius: var(--default-border-radius);
	background: var(--default-background-color);
	width: 80%;
	max-width: 45rem;
	height: 30rem;

	& * {
		font-size: 1.2rem;
	}
}

.header {
	& * {
		font-size: 1.8rem;
	}
	gap: 6px;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: var(--default-padding);
}

.settings-rows {
	height: 100%;
	overflow: auto;
	padding-top: var(--default-padding);
	display: flex;
	flex-direction: column;
	gap: 0.8rem;

	& .settings-row {
		display: grid;
		grid-template-columns: 12rem 1fr;
		justify-content: center;
		align-items: center;

		& input,
		& select,
		& > div {
			width: 100%;
		}
	}
}

@media (max-width: 600px) {
	.settings-rows {
		& .settings-row {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}
	}
}

.buttons {
	padding-top: var(--default-padding);
	display: flex;
	gap: 4px;
	justify-content: flex-end;

	& button {
		padding: var(--default-padding) var(--large-padding);
	}
}
