.flash-card {
	display: flex;
	flex-direction: column;
	gap: var(--default-padding);
}

.cloze-mark {
	background: red;
	display: inline-block;
}
.cloze-mark:before {
	content: attr(index);
	font-size: 20;
}
