.flash-card {
	display: flex;
	flex-direction: column;
	gap: var(--default-padding);
}

.cloze-mark {
	display: inline-block;
    padding: var(--small-padding);
    border-radius: var(--default-border-radius);
    border: 1px solid var(--hover-border-color);
    margin: 0 var(--small-padding);
}

.cloze-mark:before {
	content: attr(index);
    padding-right: var(--extra-small-padding);
    margin-right: var(--extra-small-padding);
    border-right: 1px dashed var(--hover-border-color);
    font-weight: normal;
    font-style: normal;
}
