.container {
	width: 100%;
	height: 100%;
	background-color: var(--default-background-color);
	padding: var(--large-padding);

	display: flex;
	flex-direction: column;
	gap: 6px;

	& * {
		font-size: 1.2rem;
	}
}

.search-input {
	padding: var(--default-padding);
}

.no-search-label {
	text-align: center;
	margin-top: 1rem;
}
