.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;

	& * {
		font-size: 1.2rem;
	}
}

.title-bar {
	border-bottom: 1px solid var(--border-color);
	padding: var(--large-padding) var(--xxl-padding);
	background-color: var(--default-background-color);
	position: sticky;
	top: 0;
	z-index: 4;
	display: flex;
	justify-content: space-between;
	align-items: center;

	& .info {
		display: flex;
		align-content: center;
		gap: 4px;
		overflow-x: auto;

		& .study-button {
			display: flex;
			flex-direction: column;
			align-items: center;
			border: 1px solid var(--border-color);
			font-size: 1rem;
			margin-right: 4px;
			padding: var(--small-padding);

			&:not(:disabled):hover {
				border-color: var(--hover-border-color);
			}
		}
	}

	& .repetition-counts {
		width: fit-content;
		display: flex;
		font-size: 1.2rem;
		justify-content: space-between;
		gap: 4px;
	}
}

@media (max-width: 850px) {
	.title-bar {
		flex-direction: column;
		align-items: start;

		& .search-input-container {
			width: 100%;
		}
	}
}
