.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2.4rem 1.2rem;
	min-width: 30rem;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	gap: 1.2rem;
}

.box {
	width: 100%;
	background: var(--default-background-color);
	margin: 0 auto;
	border-radius: var(--default-border-radius);
	box-shadow: var(--dark-box-shadow);
	padding: var(--default-padding) var(--medium-padding);
	overflow-x: auto;

	& * {
		font-size: 1.2rem;
	}
}

.header {
	border-bottom: 1px solid var(--border-color);
	margin: var(--default-padding);
	font-weight: 400;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--extra-small-padding);

	& .buttons {
		display: grid;
		grid-template-columns: 1.6rem minmax(6rem, 1fr);
		gap: 4px;
		width: 100%;

		& button {
			display: flex;
			align-items: center;
		}
	}

	.file-name-button {
		text-align: left;
		padding: 0.4rem;
	}

	.expand-button:focus,
	.file-name-button:focus {
		border-color: var(--primary-color);
	}

	& .columns {
		display: grid;
		grid-template-columns: repeat(3, 5rem);
		gap: 1rem;
		text-align: center;
	}

	& button {
		padding: 0;
	}
}

.tree {
	& .tree-row {
		border-radius: var(--default-border-radius);
		transition: all var(--default-transition-time);
		cursor: pointer;

		&:focus,
		&:focus-within,
		&:hover {
			background-color: var(--grey-background-color);
		}
	}
}

.reviews-overview {
	text-align: center;
	font-size: 1.2rem;
}

.reviwer-heatmap {
	display: flex;
	gap: 2px;

	& .reviwer-heatmap-column {
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 2px;

		.heatmap-box {
			padding: 4px;
			border: 1px solid transparent;
			background-color: var(--grey-background-color-shade-10);
            position: relative;

            & .heatmap-popup {
                position: absolute;
                display: none;
                z-index: 2;
                background-color: var(--text-color);
                color: var(--default-background-color);
                font-size: 1.2rem;
                padding: var(--default-padding);
                top: -12px;
                left: 50%;
                transform: translateY(-100%) translateX(-50%);
                border-radius: var(--default-border-radius);
                
                &::after {
                    content: "";
                    border: 12px solid var(--text-color);
                    position: absolute;
                    border-bottom-width: 0;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    bottom: 0;
                    transform: translateY(90%) translateX(-50%);
                    left: 50%;
                }
            }

			&:hover {
                & .heatmap-popup {
                    display: block;
                }
				border-color: var(--text-color);
			}

			&.hidden {
				visibility: hidden;
			}

		}
	}
}
