.home {
	padding: 2.4rem 1.2rem;
}

.box {
	max-width: 600px;
	width: 100%;
	background: var(--default-background-color);
	margin: 0 auto;
	border-radius: var(--default-border-radius);
	box-shadow: var(--dark-box-shadow);
	padding: var(--default-padding) var(--medium-padding);
    overflow-x: auto;

	& * {
		font-size: 1.2rem;
	}
}

.header {
	border-bottom: 1px solid var(--border-color);
	margin: var(--default-padding);
	font-weight: 400;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--extra-small-padding);

	& .buttons {
		display: grid;
		grid-template-columns: 1.6rem minmax(6rem, 1fr);
		gap: 4px;
		width: 100%;

		& button {
			display: flex;
			align-items: center;
		}
	}

	.file-name-button {
		padding: 0.4rem;
	}

	.expand-button:focus,
	.file-name-button:focus {
		border-color: var(--primary-color);
	}

	& .columns {
		display: grid;
		grid-template-columns: repeat(3, 5rem);
		gap: 1rem;
		text-align: center;
	}

	& button {
		padding: 0;
	}
}

.tree {
	& .tree-row {
		border-radius: var(--default-border-radius);
		transition: all var(--default-transition-time);
		cursor: pointer;

		&:focus,
		&:focus-within,
		&:hover {
			background-color: var(--grey-background-color);
		}
	}
}
