@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text-color);
}

html {
	/* 10px = 1rem, rem size for screen sizes is defined in typescript settings! */
	font-size: calc(var(--zoom-level) * 62.5%);
}

/* Small tablets (portrait) */
@media (min-width: 600px) {
	html {
		/* Around 1rem = 11px */
		font-size: calc(var(--zoom-level) * 68.75%);
	}
	body {
		font-size: 1.6rem;
	}
}

/* Desktops */
@media (min-width: 1200px) {
	html {
		/* 1rem = 14px */
		font-size: calc(var(--zoom-level) * 87.5%);
	}
	body {
		font-size: 1.8rem;
	}
}

/* Extra large desktops or 4K displays */
@media (min-width: 1400px) {
	html {
		/* 1rem = 16px for larger screens */
		font-size: calc(var(--zoom-level) * 100%);
	}
	body {
		font-size: 2rem;
	}
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
	font-weight: 300;
	font-style: normal;
	background-color: var(--grey-background-color);

	/* Colors */
	--primary-color: #4a90e2;
	--primary-color-shade-10: #4382cb;
	--primary-color-shade-50: #254871;
	--secondary-color: #e29c4a;
	--red-color: #d52726;
	--red-color-light-10: #e04f4e;

	--text-color: #333333;
	--border-color: #e0e0e0;
	--hover-border-color: #b3b3b3;
	--link-color: #387adf;
	--link-color-shade-10: #27559c;
	--link-color-shade-20: #2d62b2;
	--grey-background-color: #f2f2f2;
	--grey-background-color-shade-10: #dadada;
	--grey-background-color-shade-20: #c2c2c2;

	--default-background-color: #fff;
	--side-bar-background-color: #fafafa;

	--new-color: var(--primary-color-shade-50);
	--learning-color: var(--red-color);
	--review-color: green;

	/* Spaces */
	--default-border-radius: 4px;
	--extra-small-padding: 2px;
	--small-padding: 4px;
	--default-padding: 6px;
	--medium-padding: 10px;
	--large-padding: 12px;
	--xl-padding: 16px;
	--xxl-padding: 20px;

	/* Sizes */
	--default-border-width: 2px;

	/* Other */
	--default-transition-time: 0.1s;
	--light-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07);
	--default-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	--dark-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	--darker-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

	--zoom-level: 1;
}

body.dark {
	/* Colors */
	--text-color: #fff;
	--border-color: #5b5b5b;
	--hover-border-color: #757575;
	--grey-background-color: #424242;
	--grey-background-color-shade-10: #292929;
	--grey-background-color-shade-20: #0f0f0f;

	--default-background-color: #282828;
	--side-bar-background-color: var(--grey-background-color-shade-10);

	--new-color: var(--primary-color);
	--learning-color: var(--red-color-light-10);
	--review-color: #0c0;

	/* Other */
	--default-transition-time: 0.1s;
	--light-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.07);
	--default-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);
	--dark-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.15);
	--darker-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2.4rem;
}

a,
a:visited,
button.link {
	color: var(--link-color);
	transition: var(--default-transition-time);
	padding: 0;
}

a:hover,
button.link:hover {
	color: var(--link-color-shade-10);
}

a:active,
button.link:active {
	color: var(--link-color-shade-20);
}

input,
select {
	border-radius: var(--default-border-radius);
	outline: none;
	padding: var(--small-padding) var(--default-padding);
	border: var(--default-border-width) solid var(--border-color);
	transition: var(--default-transition-time);
	background-color: var(--default-background-color);
	color: var(--text-color);
	appearance: none;
	-webkit-appearance: none;
}

input:hover,
select:hover {
	border-color: var(--hover-border-color);
}

input:focus,
select:focus {
	border-color: var(--primary-color);
}

button {
	border-radius: var(--default-border-radius);
	padding: var(--default-padding);
	outline: none;
	cursor: pointer;
	transition: var(--default-transition-time);
	font-weight: 400;
	background-color: transparent;
	border: 1px solid transparent;
}

button:not(:disabled):hover {
	opacity: 0.9;
}

button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

button.primary {
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

button.primary * {
	color: #fff;
}

button.primary:not(:disabled):focus {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

button.primary:active {
	background-color: var(--primary-color-shade-10);
}

button.transparent:not(:disabled):hover {
	background-color: var(--grey-background-color);
}

button.transparent:not(:disabled):focus {
	border-color: var(--link-color);
}

button.transparent:not(:disabled):active {
	background-color: var(--grey-background-color-shade-10);
}

button.grey-button {
	background-color: var(--grey-background-color-shade-10);
}

button.grey-button:active {
	background-color: var(--grey-background-color-shade-20);
}

button.grey-button:focus {
	border-color: var(--link-color);
}

body.dark button.grey-button {
	background-color: var(--grey-background-color);
}

button.column-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-weight: 300;
}

.dimmed {
	color: dimgray;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}

body.dark .overlay {
	background-color: rgba(255, 255, 255, 0.2);
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
	align-items: center;
}

.new-color {
	color: var(--new-color);
}

.learning-color {
	color: var(--learning-color);
}

.review-color {
	color: var(--review-color);
}
