.inner-editor {
	border: 1px solid var(--border-color);
	border-radius: var(--default-border-radius);
	overflow: hidden;
	transition: all var(--default-transition-time);
}

.inner-editor:hover {
	border-color: var(--hover-border-color);
}

.inner-editor:focus-within {
	border-color: var(--primary-color);
}

.title {
	padding-left: var(--default-padding);
}

.editor > div {
	padding: var(--small-padding) var(--default-padding);
	outline: none;

	ul,
	ol {
		margin-left: var(--xxl-padding);
	}

	a {
		cursor: pointer;
	}
}

.bubble-menu {
	background-color: var(--default-background-color);
	border-radius: var(--default-border-radius);
	box-shadow: var(--darker-box-shadow);
	padding: var(--default-padding);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	gap: 2px;

	& > button {
		color: var(--text-color);
		display: flex;
		align-items: center;
		justify-items: center;
	}
}

.active-button {
	background-color: var(--grey-background-color-shade-10) !important;
}

.active-button:hover {
	opacity: 0.8;
}

.vertical-border {
	height: 1.6rem;
	border-right: 1px solid var(--hover-border-color);
}
