.side-bar {
	height: 100%;
	padding: var(--xl-padding);
	border-right: 1px solid var(--border-color);
	background-color: #fafafa;
	width: 36rem;
	transition: 0.18s all;

	& * {
		font-size: 1.6rem;
	}

	&.closed {
		width: 72px;
		overflow: hidden;

		& > * {
			display: none;
		}

		& .header {
			display: block;

			& h2 {
				display: none;
			}

			& .toggle-button {
				transform: rotate(180deg);
				width: 100%;
			}
		}

		& .row {
			display: flex;
			visibility: visible;
			justify-content: center;

			& p {
				display: none;
			}
		}
	}
}

.error-box {
	margin: 6px 0;
}

.header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--hover-border-color);
	margin-bottom: 1rem;
	padding: var(--default-padding) 0;

	& h2 {
		font-size: 2.4rem;
		font-weight: 400;
	}

	& .toggle-button {
		transition: 0s tansform;
		transition: 0s width;
		padding: var(--medium-padding);
	}
}

.row {
	display: flex;
	flex-direction: row;
	gap: 4px;
	width: 100%;
	padding: var(--medium-padding);
	margin-bottom: 4px;
}

.search-bar {
	position: relative;
	margin-top: 6px;

	& {
		font-size: 1.6rem;
	}

	& .search-icon {
		display: block;
		position: absolute;
		left: 1rem;
		top: 50%;
		transform: translateY(-50%);
	}

	& input {
		width: 100%;
		background-color: inherit;
		padding-left: 2.6rem;
		padding-top: var(--default-padding);
		padding-bottom: var(--default-padding);

		&:focus,
		&:not(:placeholder-shown) {
			background-color: var(--default-background-color);
			border-color: var(--primary-color);
		}
	}
}
