.side-bar {
	height: 100%;
	padding: var(--xl-padding);
	border-right: 1px solid var(--border-color);
	background-color: var(--side-bar-background-color);
	width: 28rem;
	transition: 0.18s all;

	& * {
		font-size: 1.2rem;
	}

	& .title-row {
		display: flex;
		align-items: center;
		gap: 4px;

		& img {
			width: 3.4rem;
		}
	}

	&.closed {
		width: 72px;
		overflow: hidden;

		& > * {
			display: none;
		}

		& .header {
			display: block;

			& .title-row {
				display: none;
			}

			& .toggle-button {
				transform: rotate(180deg);
				width: 100%;
			}
		}

		& .row {
			display: flex;
			visibility: visible;
			justify-content: center;

			& p {
				display: none;
			}
		}
	}
}

.error-box {
	margin: 6px 0;
}

.header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--hover-border-color);
	margin-bottom: 1rem;
	padding: var(--default-padding) 0;

	& h2 {
		font-size: 1.8rem;
		font-weight: 400;
	}

	& .toggle-button {
		transition: 0s tansform;
		transition: 0s width;
		padding: var(--default-padding) var(--medium-padding);
	}
}

.row {
	display: flex;
	flex-direction: row;
	gap: 4px;
	width: 100%;
	padding: var(--medium-padding);
	margin-bottom: 4px;
	align-items: center;
}

.search-input {
	width: 100%;
	background-color: inherit;
	padding-top: var(--default-padding);
	padding-bottom: var(--default-padding);

	&:focus,
	&:not(:placeholder-shown) {
		background-color: var(--default-background-color);
		border-color: var(--primary-color);
	}
}
