name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_rust:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: install dependencies (ubuntu only)
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.0-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
    - name: Build Rust Porject
      run: cd src-tauri && cargo build --verbose
    - name: Run Rust Tests
      run: cargo test --verbose
      
  build_node:
    runs-on: ubuntu-latest
    
    steps:
    - name: Install Node
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
    - name: Install Node Deps
      run: npm install
    - name: Running Node tests
      run: npx vitest
